html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.wrapper {
  display: flex;
  padding: 20px;
}

.card-wrapper {
  display: flex;
  text-align: center;
  padding: 20px 0;
}

.title,
.card-wrapper {
  border-bottom: 1px solid rgba(128, 128, 128, 0.3);
}

.card-wrapper_img {
  border-radius: 10px;
}

.card-info {
  margin: 0 auto;
  padding: 0 0 0 15px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  box-sizing: border-box;
  width: 100%;
  color: gray;
}

.card-info p {
  margin: 5px 0;
}

.color-black {
  color: black;
}

.card-info h3 {
  margin: 10px 0;
}

.card-info p:first-child {
  margin: 0;
}

.dash {
  background-color: gray;
  width: 50px;
  height: 1px;
  opacity: 0.3;
}

.title {
  padding: 0 0 20px;
  margin: 20px 0 0;
}

.loading-element {
  height: 100%;
}

.map-element_conteiner {
  height: 730px;
  width: 49%;
  position: fixed;
  right: 10px;
  top: 20px;
}

.map-element {
  height: 100%;
  left: 0;
  overflow: hidden;
}

.star-icon {
  width: 20px;
  height: 20px;
  position: relative;
  bottom: -4px;
  left: 4px;
}
